{% extends 'main/base.html' %}

{% block content %}
<div class="container">
	<h2>👤 Профиль пользователя</h2>

	<div class="profile-card">
		{% if user.is_superuser %}
		<div class="admin-badge">
			<strong>⭐ Статус: Администратор</strong>
		</div>
		{% endif %}

		<div class="profile-item">
			<strong>Логин</strong>
			<span>{{ user.username }}</span>
		</div>

		<div class="profile-item">
			<strong>ФИО</strong>
			<span>{{ user.fio }}</span>
		</div>

		<div class="profile-item">
			<strong>Телефон</strong>
			<span>{{ user.phone }}</span>
		</div>

		<div class="profile-item">
			<strong>Email</strong>
			<span>{{ user.email }}</span>
		</div>

		<div class="profile-item">
			<strong>Дата регистрации</strong>
			<span>{{ user.date_joined|date:"d. m.Y H:i" }}</span>
		</div>

		{% if user.is_superuser %}
		<a href="/admin/" class="btn mt-20">Перейти в админ-панель</a>
		{% endif %}
	</div>
</div>
{% endblock %}